In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [15]:
data = pd.read_csv('automobile.csv')

data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [ ]:
ds = data.copy()

In [ ]:
ds.isnull().sum()

In [ ]:
ds.horsepower.sample(200).values

In [16]:
cat = data.select_dtypes(exclude = "number")
num = data.select_dtypes(include = 'number')

print('Numerical Data')
display(num.head())
print(f'\n\nCategorical Data')
display(cat.head())

Numerical Data

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg,price
0,3,NaN,88.6,168.8,64.1,48.8,2548,130,9.0,21,27,13495
1,3,NaN,88.6,168.8,64.1,48.8,2548,130,9.0,21,27,16500
2,1,NaN,94.5,171.2,65.5,52.4,2823,152,9.0,19,26,16500
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,10.0,24,30,13950
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,8.0,18,22,17450

Categorical Data

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,bore,stroke,horsepower,peak-rpm
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3.47,2.68,111,5000
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3.47,2.68,111,5000
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,2.68,3.47,154,5000
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi,3.19,3.4,102,5500
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi,3.19,3.4,115,5500

In [4]:
data.describe()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg,price
count,202.000000,165.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,0.831683,121.836364,98.848020,174.273267,65.903960,53.775248,2558.173267,126.945545,10.160990,25.148515,30.658416,13253.752475
std,1.258360,35.396412,6.094523,12.334330,2.106915,2.444769,517.236654,41.455269,3.995264,6.421956,6.809940,7954.919591
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.000000,94.500000,166.800000,64.125000,52.000000,2174.250000,98.000000,8.600000,19.000000,25.000000,7778.250000
50%,1.000000,115.000000,97.000000,173.200000,65.500000,54.100000,2417.000000,120.000000,9.000000,24.000000,30.000000,10320.000000
75%,2.000000,150.000000,102.400000,183.500000,66.825000,55.500000,2932.750000,141.000000,9.400000,30.000000,34.000000,16502.250000
max,3.000000,256.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000,45400.000000

In [5]:
data.isnull().sum()

symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  0
stroke                0
compression-ratio     0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [6]:
for i in data.columns:
    if ((data[i].isnull().sum() / len(data)) * 100) < 30:
        if data[i].dtypes != 'O':
            data[i].fillna(data[i].median(), inplace = True)
        else:
            data[i].fillna(data[i].mode()[0], inplace = True)
    else:
        data.drop(i, axis = 1, inplace = True)

data.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [7]:
cols_to_scale = []
for i in num.columns:
    if data[i].describe()[2] > 1500:
        cols_to_scale.append(i)

cols_to_scale

['price']

In [8]:
# LABEL ENCODE THE CATEGORICAL COLUMNS
from sklearn.preprocessing import LabelEncoder
import joblib

encoded = {}  # ................................................................ Have a dictionary to save the encoders
for i in cat.columns: # ........................................................ Iterate through the categorical variables
    encode = LabelEncoder() # .................................................. Instantiate the encoder transformer
    data[i] = encode.fit_transform(data[i]) # ...................................... Encode the columns in ech iteration
    joblib.dump(encode, open(f'{i}_encoder.pkl', 'wb')) # ...................... Save the transformer to file for future reusal
    encoded[i +'_encoder'] = encode # .......................................... Save the transformer to the above stated dictionary for easy access

encoded

{'make_encoder': LabelEncoder(),
 'fuel-type_encoder': LabelEncoder(),
 'aspiration_encoder': LabelEncoder(),
 'num-of-doors_encoder': LabelEncoder(),
 'body-style_encoder': LabelEncoder(),
 'drive-wheels_encoder': LabelEncoder(),
 'engine-location_encoder': LabelEncoder(),
 'engine-type_encoder': LabelEncoder(),
 'num-of-cylinders_encoder': LabelEncoder(),
 'fuel-system_encoder': LabelEncoder(),
 'bore_encoder': LabelEncoder(),
 'stroke_encoder': LabelEncoder(),
 'horsepower_encoder': LabelEncoder(),
 'peak-rpm_encoder': LabelEncoder()}

In [9]:
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,115.0,0,1,0,1,0,2,0,88.6,...,130,5,23,4,9.0,5,10,21,27,13495
1,3,115.0,0,1,0,1,0,2,0,88.6,...,130,5,23,4,9.0,5,10,21,27,16500
2,1,115.0,0,1,0,1,2,2,0,94.5,...,152,5,1,27,9.0,20,10,19,26,16500
3,2,164.0,1,1,0,0,3,1,0,99.8,...,109,5,13,24,10.0,2,16,24,30,13950
4,2,164.0,1,1,0,0,3,0,0,99.4,...,136,5,13,24,8.0,8,16,18,22,17450

In [ ]:
# conduct Feature Selection
# - Using XGBOOST to find feature importance

import matplotlib.pyplot as plt
import xgboost as xgb

model = xgb.XGBRegressor()

x = ds.drop('SalePrice', axis = 1)
y = ds.SalePrice


model.fit(x,y)

plt.rcParams['figure.figsize'] = (10, 5)
# Print feature importance scores
xgb.plot_importance(model, importance_type = 'weight')
plt.show()

In [ ]:
ds.columns

<h3><br>Modelling<hr>

In [ ]:
from sklearn.model_selection import train_test_split

x = new_data.drop('SalePrice', axis = 1)
y = new_data.SalePrice

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.20, random_state = 45)
print(f'Xtrain: {xtrain.shape}')
print(f'Xtest: {xtest.shape}')
print(f'Ytrain: {ytrain.shape}')
print(f'Ytest: {ytest.shape}')

from sklearn.model_selection import train_test_split

In [10]:
# from sklearn.model_selection import train_test_split

# x = data.drop('price', axis = 1)
# y = data.price

# xtrain, xtest, ytrain, ytest = train_test_split(x , y, test_size = 0.15)

In [11]:
# from sklearn.linear_model import LinearRegression
# from sklearn.metrics import r2_score

# #Linear Regression Model Creation
# linreg = LinearRegression()
# linreg.fit(xtrain, ytrain)

# #Cross Validation
# cv = linreg.predict(xtrain)
# print(f"Cross Validation Score is: {r2_score(cv, ytrain)}")

Cross Validation Score is: 0.8848366251753468

In [12]:
# #Model Testing 
# test_pred = linreg.predict(xtest)
# print(f"Model Test Score is: {r2_score(test_pred, ytest)}")

Model Test Score is: 0.8682935646141191

In [13]:
# #Model Saving
# joblib.dump(linreg, open('Automobile.pkl', 'wb'))